// Colors
colorBackground = white
colorClockHands = #666
colorClockBorder = #ddd
colorClockFace = white

// Transitions
transitionSpeedFast = 100ms
transitionSpeedNormal = 200ms
transitionSpeedSlow = 500ms