// # Colors

// ## Themes

// ### Home
themeHomeColorBackground = radial-gradient(ellipse at center, rgba(60, 60, 60, 1) 0%, rgba(22, 22, 22, 1) 100%)
themeHomeColorCockHandsMain = rgb(55, 74, 81)
themeHomeColorCockHandsSecond = rgb(58, 180, 159)
themeHomeColorClockBorder = rgb(58, 180, 159)
themeHomeColorClockFace = white
themeHomeColorClockHandWidth = 2%

// ### White
themeWhiteColorBackground = white
themeWhiteColorClockHands = #666
themeWhiteColorClockBorder = #ddd
themeWhiteColorClockFace = white


// # Transitions
transitionSpeedFast = 100ms
transitionSpeedNormal = 200ms
transitionSpeedSlow = 500ms