// Globals
@import './reset'
@import './globals'

// Variables
numClocksWide = 15
numClocksTall = 9
viewportAspectRatio = numClocksWide / numClocksTall

// Styles
html
  overflow hidden

html, body
  width 100%
  height 100%

body
  background radial-gradient(ellipse at center, rgba(60, 60, 60, 1) 0%, rgba(22, 22, 22, 1) 100%)

.viewport
  position absolute
  top 0
  bottom 0
  left 0
  right 0

  margin auto
  width 100vw
  height (100 / viewportAspectRatio) vw
  max-width (viewportAspectRatio * 100) vh
  max-height 100vh

  line-height 0

  .overlay, .underlay
    width 100%
    height 100%
    position absolute

  .clockwall
    width 100%
    height 100%

    &.view-large
      transform scale(5)

    &.view-medium
      transform scale(2)

    .clock
      clockPadding = 0.1%
      position relative
      width (100 / numClocksWide) %
      height (100 / numClocksTall) %
      display inline-block
      padding clockPadding

      &.hide
        visibility hidden

      .face
        width 100%
        height 100%
        background-color colorClockFace
        border 2px solid colorClockBorder
        border-radius 50%
        box-shadow 0 1px 0 0 #ddd
        transition background-color transitionSpeedNormal

      .hand
        handWidth = 6%
        width 50% + (handWidth / 2) - (clockPadding * 2) - 2%
        height handWidth
        background-color colorClockHands
        position absolute
        top 50% - (handWidth / 2)
        left 50% - (handWidth / 2)
        transform-origin (handWidth * (3/4)) 50% 0
        border-radius (handWidth / 2)px 0 0 (handWidth / 2)px
        transition background-color transitionSpeedNormal