extends layout

block css
  link(href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', rel='stylesheet', type='text/css')
  link(rel="stylesheet" href='bin/css/index.css')

block js
  script(src="bin/js/index.js")

block content
  .viewport
    .overlay
      .caption-area
        p.caption A moment
        button.start.button ►
    .underlay
      .clockwall
        - numClocksWide = 15
        - numClocksTall = 9
        - for(var i = 0; i < numClocksWide * numClocksTall; ++i)
          .clock
            .shadow
            svg
              circle.border(cx='50%', cy='50%', r='45%')
              circle.face(cx='50%', cy='50%', r='40%')
              line.hand(x1='50%', y1='50%', x2='100%', y2='100%')
              line.hand(x1='50%', y1='50%', x2='0%', y2='0%')
              circle.axle(cx='50%', cy='50%', r='4%')
              - if (i == Math.floor(numClocksWide * numClocksTall / 2))
                g.second.hand
                  line
                  circle.start
                  circle.end
                circle.hole(cx='50%', cy='50%', r='3.3%')
