extends layout

block css
  link(rel="stylesheet" href='bin/css/index.css')

block js
  script(src="bin/js/index.js")

block content
  .viewport
    - for(var i = 0; i < 15 * 9; ++i)
      .clock
        .hand
        .hand