doctype html
html
  head
    title A Moment

    meta(charset="UTF-8")
    meta(name="description" content="A wall of clocks")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui')

    block css
  body
    block content
    block js
