doctype html
html
  head
    title Clock Wall

    meta(charset="UTF-8")
    meta(name="description" content="A wall of clocks")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")

    block css
  body
    block content
    block js
